<h1>Friends (<%= @friends.count %>)</h1>
<% @friends.each do |friend| %>
  <p>
    <%= link_to "#{friend.name}", friend %>
    <%= link_to "Remove friend", friend_path(friend.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
<% end %>
