<h2>Incoming Friend Requests</h2>
<% unless @incoming.blank? %>
  <% @incoming.each do |i| %>
    <p>
      <%= i.user.email %>
      <%= link_to "Accept", friend_request_path(i), method: :put %>
    </p>
  <% end %>
<% end %>
<h2>Pending Friend Requests</h2>
<% @outgoing.each do |p| %>
  <p>
    <%= p.friend.email %>
  </p>
<% end %>