<h2>Incoming Friend Requests</h2>
<% unless @incoming.blank? %>
  <% @incoming.each do |i| %>
    <%= i %>
    <%= link_to "Accept", friend_request_path(friend_id: i) %>
  <% end %>
<% end %>
<h2>Pending Friend Requests</h2>
<% @outgoing.each do |p| %>
  <%= p %>
<% end %>