<h2>Incoming Friend Requests</h2>
<% unless @incoming.blank? %>
  <% @incoming.each do |i| %>
    <p>
      <%= link_to "#{i.user.name}", i.user %>
      <%= link_to "Accept", friend_request_path(i), method: :put %>
      <%= link_to "Ignore", friend_request_path(i), method: :delete %>
    </p>
  <% end %>
<% end %>
<h2>Pending Friend Requests</h2>
<% @outgoing.each do |p| %>
  <p>
    <%= link_to "#{p.friend.name}", p.friend %>
  </p>
<% end %>